/**
 * Kanban Board
 */
    .kanban-board-table th          { border-bottom: solid 1px #ccc; }
	.kanban-board-table tfoot td	{ border-top: solid 1px #ccc; text-align: center; background: #fff url(../images/skin/shadow.jpg); color: #666; font-weight: bold; padding: 2px 6px; }
	.kanban-container				{ color: #000; background-color: #fff; float: left; border: solid 2px #4E4E4E; width: 125px; margin: 3px; }
	.kanban-header					{ font-size: .85em; padding: 3px; cursor: move; }
	.kanban-title					{ font-weight: bold; }
	.kanban-owner					{ }
	.kanban-expand					{ cursor: pointer; }
	.kanban-icons					{ float: right; }
	.kanban-description				{ font-size: .85em; padding: 5px; border-top: solid 1px #4E4E4E; }
	.kanban-detail-link				{ text-align: right; }
	.kanban-detail-link a:link,
	.kanban-detail-link a:active,
	.kanban-detail-link a:visited	{ text-decoration: none; color: #000; }
	.kanban-detail-link a:hover		{ text-decoration: underline; color: #000; }
	
	.stage-cell						{ height: 400px; }
	.droppable-hover				{ background-color: #FEFFD8 !important; }