/**
 * Kanban Board
 */
	.kanban-container				{ float: left; border: solid 1px #000; width: 125px; margin: 3px; cursor: pointer; }
	.kanban-header					{ background: #fff url(../images/skin/shadow.jpg) bottom left repeat-x; color: #666; font-size: .85em; padding: 3px; }
	.kanban-title					{ font-weight: bold; }
	.kanban-owner					{ }
	.kanban-expand					{ cursor: pointer; }
	.kanban-icons					{ float: right; }
	.kanban-description				{ font-size: .85em; padding: 5px; background-color: #fff; border-top: solid 1px #666; }
	.kanban-detail-link				{ text-align: right; }
	.kanban-detail-link a:link,
	.kanban-detail-link a:active,
	.kanban-detail-link a:visited	{ text-decoration: none; color: #2466F5; }
	.kanban-detail-link a:hover		{ text-decoration: underline; color: #1148BE; }
	
	.stage-cell						{ height: 400px; }
	.droppable-hover				{ background-color: #2AFF00 !important; }